*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .list-container{
    padding: 2px;
} */

.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-color,.font-color{
    display: flex;
    justify-content: space-between;
}

.to-do, .config{
    font-size: 20px;
    /* text-align: center; */
    margin: 5px ;
    padding: 5px;
    max-width: 400px;
    width: 340px;
    border: 1px solid black;
    background-color:darkcyan;
    color: #ffffff;
}

.config{
    display: none;
}
.titulo{
    display: flex;
    justify-content: space-between;
}

ul{
    background-color:cornsilk;
    padding: 3px;
    list-style: none;
    text-align: justify;
    border-top: 1px solid black;
    color: black;
}

.empty{
    text-align: center;
}

.add{
    width: 50px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(169, 206, 22);
}

.del{
    width: 25px;
    border: none;
    border-radius: 30%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #ffffff;
    background-color: rgb(227, 39, 22);
}

.add-task{
    display: flex;
    font-size: 20px;
    color: #ffffff;
    
}

.new-task{
    width: 90%;
}

li{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}