*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.to-do{
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    width: 500px;
    border: 1px solid black;
    background-color:darkcyan;
    color: #ffffff;
}

ul{
    background-color:cornsilk;
    padding: 5px;
    list-style: none;
    text-align: justify;
    border-top: 1px solid black;
    color: black;
}

.empty{
    text-align: center;
    color: #ffffff;
}

.add{
    width: 50px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(169, 206, 22);
}

.del{
    width: 50px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(227, 39, 22);
}

.add-task{
    display: flex;
    font-size: 20px;
    color: #ffffff;
    
}

.new-task{
    width: 90%;
}
li{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}